*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: #f5f4f0;
    border-color: #d9d9d9;
    --text-primary: #1b1b1b;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #e1624f;
    --accent-blue: #0c51a7;
    --accent-orange: #e95e10;
    --accent-pink: #e5245e;
    --accent-purple: #591b98;
    font-family: "Open Sans", sans-serif;
}   

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 28px;
    font-weight: bold;
}

#subtitle{
    color: var(--text-secondary);
    font-size: 16px;
    font-style: italic;
}

.headline{
    color: var(--text-headline);
    font-size: 16px;
    font-weight: bold;
}

p{
    font-size: 16px;
    font-weight: normal;
}

body{
    background-color: var(--background-color);
}